#main-header{
	background-color:transparent;
	padding: 20px;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;  
}
#main-logo{
	width: 20px;
	padding: 2px;
}


header i{
	float: right;
}


.sulat{
    float: right;
    margin-top: 110px;
    margin-right: 647px;
    font-size: 31px;
    color: white;

}
.sulat1 {
    float: right;
    margin-bottom: 88px;
    margin-right: 39px;
    font-size: 20px;
    color: white;

}

.sample{
	margin-top: 100px;
}
.homepage-banner {
    color: #fff;
    padding: 5px 83% 0px 0px;
    font-size: 46px;
    border: 11px solid #f59cac;
    background-color: #ec007821;
    border-radius: 19%;
    width: 353px;
    height: 201px;
    line-height: 84px;
    margin: 0 auto;
    margin-top: 187px;
    border-top: 12px solid #f59cac;
    border-left: 12px solid #f59cac;
    border-bottom: 12px solid #f59cac;
    border-right: 12px solid #f59cac;
}

.homepage{
    width: max-content;
    margin-left: 162px;
    margin-top: 36px;
    color: #f59cac;
    font-size: 100px;
}

.homepage1{
    width: max-content;
    margin-left: 363px;
    margin-top: 38px;
    color: #f59cac;
    font-size: 100px;
}

.homepage2{
    width: max-content;
    margin-left: 245px;
    margin-top: 46px;
    color: #f59cac;
    font-size: 100px;
}

.none{
	margin-right: 40px;
    margin-top: 63px;
}

div header img{
	left: 0;
    position: absolute;
	margin-left: 170px;
    width: 14%;
}
div li a{
	text-decoration: none;
    padding: 16px 26px 16px 26px;
    color: black;
    font-size: 13px;
    background: transparent;
    border-radius: 29px;
    border-top-left-radius: 2px;
}

.main-nav i {
    color: white;
    padding: 23px;
}

div li a:hover, .active {
    text-decoration: none;

	background: #f59cac;

}

.main-nav >ul{
	float: right;
    list-style-type: none;
    text-align: center;
    margin-top: 105px;
    margin-right: 99px;
    right: 0;
    position: absolute;
}
.main-nav > ul > li{
     display: inline;
}
.main-nav > ul > li > a{
	font-size: 19px;
    margin-right: 20px;
    padding: 10px;
    font-weight: bold;
    color: white;
    text-decoration: none;
}
#main {
	background-image: url("images/kf.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
    background-attachment: fixed;
	/*height: 80vh;*/
}

.about {
    background-image: url("images/fb.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.contact {
    background-image: url("images/bg1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width:100%;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
}

div.desc {
    color: #ffffff;
    padding: 10px;
    text-align: center;
    background-color: #f59cac6e;
}

div .pic {
    float: left;
    margin-top: 88px;
    width: 17%;
    margin-left: 135px;
    border-radius: 77px;
}

.tiil{
    display: inline-block;
    margin: 0;
    color: white;
}


form {
    width: 100%;
    padding: 57px;
    border: 2px solid #fff;
    background: #373737b5;
    border-radius: 14px;
}
form div {
    margin-top: 33px;
}
form input {
    padding: 11px;
    font-size: 15px;
    width: 100%;
    border: none;
    margin-top: 8px;
    color: #fff;
    border-radius: 8px;
}
input[type="submit"] {
    padding: 12px;
    background: #07a6bd;
    border: 1px solid #ffffff;
    color: #fff;
}
form h2 {
    text-align: center;
    text-transform: uppercase;
    color: aliceblue;
    font-size: 33px;
    margin-bottom: 42px;
}
form.sign-up-form div label {
    text-transform: uppercase;
    color: #fff;
}
form.sign-up-form div a {
    background: #292522;
    border-radius: 15px;
    width: 96%;
    padding: 15px 61px;
    text-decoration: none;
    text-transform: uppercase;
    color: aliceblue;
    text-align: center;
}
form.sign-up-form div:last-child {
    margin-top: 47px;
    text-align: center;
}
.container{
    width: 1150px;
    margin: 0 auto;
}
.inside-space{
    padding: 25px;
}

#subject {
    height: 173px;
    width: 100%;
}

.map img{
    display: inline-block;
    width: 40%;
    border-radius: 37px;
    margin-left: 83px;
    margin-bottom: 37px;
    height: 395px;
}

.col-4 {
    float: left;
    width: 33.33%;
    padding: 5px;
}

.row::after{
    content: "";
    clear: both;
    display: table;
}

.row {
  display: flex;
}

.col-4 {
  flex: 33.33%;
  padding: 5px;
}

.col-3 {
    float: left;
    width: 33.33%;
    padding: 5px;
}

.row1::after{
    content: "";
    clear: both;
    display: table;
}

.row1 {
    display: flex;
}

.col-3 {
  flex: 33.33%;
  padding: 5px;
}

.col-2 {
    float: left;
    width: 33.33%;
    padding: 5px;
}

.row2::after{
    content: "";
    clear: both;
    display: table;
}

.row2 {
  display: flex;
}

.col-2 {
  flex: 33.33%;
  padding: 5px;
}


div h2{
    margin-left: 91px;
    color: #4e0a45;

}
.map{
    border-radius: 83px;
    background-color: #d28dc36b;
}

.row{
    background-image: url(images/B6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.row1{
    background-image: url(images/B6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.row2{
    background-image: url(images/B6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
